/*  Website Name: Return.House
 *  Author: Creed Smith
 *  Description: Main CSS File
 *  Version: CSS3
 */


/* General Info
 * Base Color: #112932, rgb(17, 41, 50) (Dark)
 * Primary Color: #fff, rgb(255, 255, 255) (White)
 * Secondary Color: #3e5259
 * Other: #fd6d21, rgb(253, 109, 33) (Orange)
 */


/* Responsive According to Height */

@media screen and (max-height: 600px) {
    .login-section-wrapper {
        display: block;
    }
    .login-section-wrapper section {
        margin: auto;
        margin-top: 16px;
        margin-bottom: 16px;
    }
}


/* Responsive According to Width */

@media only screen and (max-width: 1440px) {
    .sub-heading {
        font-size: 14px;
    }
    .custom-select-box-wrapper select,
    .custom-btn,
    .comments-field input,
    .custom-table thead th {
        font-size: 12px;
    }
    .comments-field input {
        padding: 8px 10px;
    }
    .custom-table thead th {
        font-weight: 600;
    }
    .selected-shape-wrapper select {
        width: 88px;
    }
    .selected-shape-top-section .custom-select-box-wrapper select {
        font-size: 12px;
        padding: 2px 6px;
    }
	
	.selected-shape-top-section .custom-select-box-wrapper select#selected-shape {
		font-size: 11px;
		padding: 2px 4px;
	}
	
}

@media screen and (min-width: 992px) and (max-width: 1300px) {
    .visits-form-wrapper>.sub-form>form button {
        width: 100%;
        margin-top: 0px !important;
    }
    .visits-form-wrapper .date {
        font-size: 7px;
    }
    .visits-form-wrapper .date:before {
        top: 7px;
    }
    .picker-wrapper {
        margin-left: 8px;
    }
}

@media only screen and (max-width: 992px) {
    /* Zones Page */
    .map-wrapper {
        margin-top: 48px;
    }
    .left-section-wrapper {
        height: auto;
    }
    .open-tab-content .section.visits-section,
    .save-tab-content {
        margin-top: 36px;
    }
}

@media only screen and (max-width: 767px) {
    header>nav>.navbar-collapse {
        background: #314149;
    }
    header>nav,
    .zones-main-wrapper .section-1,
    .predict-left-section {
        height: auto;
    }
    .navbar.navbar-expand-md {
        padding: 0;
    }
    .navbar-brand {
        display: block !important;
        margin: 6px 12px;
    }
    .lang-menu {
        display: block !important;
    }
    .header-nav {
        padding: 10px 18px !important;
    }
    .header-nav>li.active:focus,
    .header-nav>li:hover,
    .header-nav>li.active {
        border-color: transparent;
    }
    .lang-nav {
        display: none !important;
    }
    /* Login Page */
    .login-section-wrapper>section>img {
        width: 50%;
    }
    /* Zones Page */
    .custom-table {
        margin-top: 18px;
    }
    .custom-btn {
        padding: 4px 48px;
    }
    .zones-main-wrapper {
        height: calc(100vh - 112px);
    }
    .save-tab-content .visits-section {
        margin-top: 36px;
    }
    .save-tab-content .first-visits-section {
        margin-top: 0 !important;
    }
    .footer-nav {
        height: 50px;
    }
}

@media only screen and (max-width: 575px) {
    /* Login Page */
    .login-section-wrapper>section {
        width: auto;
    }
    /* Zones Page */
    .open-tab-content .section.visits-section,
    .save-tab-content .section.visits-section {
        margin-top: 48px;
    }
    .selected-shape-wrapper .right-side-form input {
        width: 76%;
        margin-left: 10px;
    }
    .selected-shape-wrapper>section>div,
    .selected-shape-wrapper>section>div:nth-child(2) form>.form-group {
        width: 100%;
    }
    .selected-shape-wrapper>section>div:nth-child(2) form>.form-group {
        display: flex;
    }
    .color-picker {
        left: -50px;
    }
    .color-picker:before {
        left: auto;
        right: 56px;
    }
    .visits-form-wrapper .sub-form {
        width: 300px;
    }
    .mouse-pointer-control,
    .rectangle-control,
    .circle-control,
    .polygone-control,
    .camera-control {
        left: 16px !important;
        right: auto !important;
    }
    .rectangle-control {
        top: 52px !important;
    }
    .circle-control {
        top: 82px !important;
    }
    .polygone-control {
        top: 110px !important;
    }
    .camera-control {
        top: 148px !important;
    }
}

@media only screen and (max-width: 375px) {
    /* Login Page */
    .login-section-wrapper>section>img {
        width: 66%;
    }
    .custom-select-box-wrapper select {
        width: 274px;
    }
    /* Zones Page */
    .selected-shape-wrapper>section>div,
    .save-tab-content .custom-select-box-wrapper>select {
        width: 100%;
    }
    .selected-shape-top-section .custom-select-box-wrapper>select {
        width: 216px;
    }
    .color-picker {
        left: 0px;
    }
    .color-picker:before {
        left: auto;
        left: 10px;
    }
}