/*  Website Name: Return.House
 *  Author: Creed Smith
 *  Description: Main CSS File
 *  Version: CSS3
 */


/* General Info
 * Base Color: #112932, rgb(17, 41, 50) (Dark)
 * Primary Color: #fff, rgb(255, 255, 255) (White)
 * Secondary Color: #3e5259
 * Other: #fd6d21, rgb(253, 109, 33) (Orange)
 */


/* Global CSS */

body {
    min-height: 100vh;
    background-color: #112932 !important;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.text-orange {
    color: #fd6d21;
}

.custom-select-box-wrapper,
.predict-left-section .comments-field {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.custom-select-box-wrapper select {
    background: #18303a;
    border-color: #818e94;
    color: #818e94;
    border-radius: 0px;
    font-size: 12px;
    height: 32px;
    width: 340px;
    margin: auto;
    cursor: pointer;
    padding: 2px 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-select-box-wrapper select:focus {
    color: #818e94;
    background-color: #18303a;
    border-color: #818e94;
    outline: 0;
    box-shadow: none;
}

.custom-select-box-wrapper select>option {
    background: #fff;
}

.custom-select-box-wrapper:after {
    content: "\f107";
}

.custom-select-box-wrapper.active:after {
    content: "\f106";
}

.custom-select-box-wrapper:after,
.custom-select-box-wrapper.active:after {
    color: #818e94;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-family: FontAwesome;
    font-size: 22px;
    position: absolute;
    right: 12px;
    top: 0px;
    pointer-events: none;
}

.custom-btn {
    background: #ff6100;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 4px 4px 4px;
    height: 36px;
    border: none;
    border-radius: 4px;
    position: relative;
    border: 2px solid transparent;
    width: 156px;
}

.custom-btn:hover {
    border: 2px solid #fff;
    transition: 0.5s;
}

.custom-btn:focus,
.comments-field input,
.visits-form-wrapper .date,
.selected-shape-wrapper input:focus,
.save-as-wrapper input:focus {
    outline: none;
}

.comments-field input::placeholder,
.save-as-wrapper input::placeholder {
    color: #818e94;
}

.selected-shape-wrapper input:focus {
    box-shadow: none;
    border: none;
}

.form-control:disabled {
    background-color: transparent !important;
    opacity: 0.5 !important;
}

.custom-btn:disabled {
    opacity: .65;
}

.custom-table.table-responsive::-webkit-scrollbar {
    height: 6px;
}

.login-section-wrapper::-webkit-scrollbar,
.open-tab-content::-webkit-scrollbar,
.left-section-wrapper::-webkit-scrollbar,
.map-main-popup::-webkit-scrollbar,
.save-tab-content::-webkit-scrollbar,
.predict-left-section::-webkit-scrollbar,
.visits-form-wrapper::-webkit-scrollbar,
.zones-main-wrapper .visits-section:first-child::-webkit-scrollbar {
    width: 6px;
}

.login-section-wrapper::-webkit-scrollbar-thumb,
.open-tab-content::-webkit-scrollbar-thumb,
.left-section-wrapper::-webkit-scrollbar-thumb,
.custom-table.table-responsive::-webkit-scrollbar-thumb,
.map-main-popup::-webkit-scrollbar-thumb,
.save-tab-content::-webkit-scrollbar-thumb,
.predict-left-section::-webkit-scrollbar-thumb,
.visits-form-wrapper::-webkit-scrollbar-thumb,
.zones-main-wrapper .visits-section:first-child::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5px;
}

.login-section-wrapper::-webkit-scrollbar-track,
.open-tab-content::-webkit-scrollbar-track,
.left-section-wrapper::-webkit-scrollbar-track,
.custom-table.table-responsive::-webkit-scrollbar-track,
.map-main-popup::-webkit-scrollbar-track,
.save-tab-content::-webkit-scrollbar-track,
.predict-left-section::-webkit-scrollbar-track,
.visits-form-wrapper::-webkit-scrollbar-track,
.zones-main-wrapper .visits-section:first-child::-webkit-scrollbar-track {
    background: #d3d3d369;
    border-radius: 5px;
}

.sub-heading {
    font-size: 14px;
    font-weight: 500;
}

.radio-custom {
    opacity: 0;
    position: absolute;
}

.radio-custom,
.radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.radio-custom-label {
    position: relative;
}

.radio-custom+.radio-custom-label:before {
    content: '';
    background: transparent;
    border: 1px solid #818e94;
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    text-align: center;
}

.radio-custom:checked+.radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #fd6d21;
    font-size: 14px;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    display: none;
    z-index: 999;
    opacity: 0.4;
}

.gm-style-iw.gm-style-iw-c {
    max-width: 100% !important;
    background: transparent;
    box-shadow: none;
}

.gm-style-iw.gm-style-iw-c>.gm-style-iw-d {
    overflow: hidden !important;
}

.gm-style .gm-style-iw-t::after {
    display: none;
}

.gm-style-iw.gm-style-iw-c>button {
    display: none !important;
}

.gm-style .gm-style-iw-c {
    top: 20px !important;
    pointer-events: none !important;
}

.custom-info-window>p, .custom-info-window-destination>p {
    /* color: #fff; */
    margin-bottom: 6px;
    font-weight: 600;
}


/* Snackbar Toaster */

.jq-toast-single h2 {
    margin: 0 !important;
}

.check-circle {
    margin-right: 12px !important;
}

.jq-toast-wrap {
    min-width: 250px !important;
    width: auto !important;
}

.close-jq-toast-single {
    display: none !important;
}

.custom-info-window-destination.units {
    display: none;
}


/* Float Form */

.float-form label {
    position: absolute;
    top: -20px;
    left: 0;
    text-align: left;
    display: block;
    width: 100%;
    height: 52px;
    line-height: 72px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
    background: transparent;
    color: #fd6d21;
    margin: 0px auto;
    cursor: text;
    transition: all .15s ease-in-out;
}

.float-form input:valid+label,
.float-form input:focus+label {
    height: 20px;
    line-height: 20px;
    font-size: 11px;
}


/* Navigation */

header>nav {
    height: 58px;
    border-bottom: 2px solid #3e5259;
    justify-content: space-between;
}

header>nav>.navbar-collapse {
    justify-content: space-between;
}

.header-nav>li {
    margin-right: 16px;
    padding: 0.5rem 0;
    border-bottom: 2px solid transparent;
}

.header-nav>li:last-child {
    margin-right: 0;
}

.header-nav>li:hover,
.footer-nav>li:hover,
.header-nav>li.active,
.footer-nav>li.active {
    border-bottom: 2px solid #fd6d21;
}

.header-nav>li:hover a,
.footer-nav>li:hover a,
.header-nav>li.active a,
.footer-nav>li.active a {
    color: #fd6d21;
}

.navbar-toggler:focus {
    outline: none;
}

.dropdown-toggle::after {
    font-size: 18px;
    margin-left: 12px !important;
}

.navbar-expand-md .header-nav .dropdown-menu {
    left: -26px !important;
    text-align: center;
    font-size: 14px;
    width: 160px;
}

.dropdown-item {
    font-weight: 600 !important;
    color: #818e94 !important;
}

.dropdown-item:hover {
    color: #fd6d21 !important;
}

.dropdown-item:active {
    background: none !important;
}


/* Footer Nav */

#footer {
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 1) !important;
    padding: .5rem 1rem;
}

.footer-nav {
    height: 42px;
}

.footer-nav>li {
    padding-top: 8px;
    height: 42px;
}

.footer-nav>li>a {
    padding-top: 0px;
}


/* Login Page */

.login-section-wrapper {
    height: calc(100vh - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    overflow: auto;
}

.login-section-wrapper>section {
    width: 400px;
    height: 528px;
}

.login-section-wrapper .google-logo {
    width: 20px;
}

.login-section-wrapper .google-btn {
    background: #fff;
    color: #8d8d8d;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 12px;
}

.login-section-wrapper .google-btn-wrapper>p>a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.google-btn-wrapper {
    height: 70px;
}

.lang-menu,
.navbar-brand {
    display: none !important;
}

.map-main-popup form:nth-child(2)>div:after,
.gmnoprint a,
.gmnoprint span,
.gm-style-cc,
.delevry-date-result {
    display: none;
}

.login-section-wrapper .login-form {
    margin-top: 86px;
    text-align: center;
}


/* Zones Page */

.zones-main-wrapper,
.open-tab-content,
.save-tab-content {
    height: calc(100vh - 108px);
    overflow: auto;
}

.zones-main-wrapper .visits-section:first-child {
    overflow: auto;
}

.open-tab-content,
.save-tab-content {
    padding: 24px 2px;
}

.section {
    border: 1px solid #fff;
    padding: 12px 18px;
    height: 326px;
}

.save-tab-content .section {
    padding: 12px 36px;
    height: auto;
}

.save-tab-content .comments-field,
.save-as-wrapper {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.save-as-wrapper input {
    width: 100%;
    background: transparent;
    color: #fff;
    font-size: 14px;
    border: 1px solid #818e94;
    border-radius: 4px;
    padding: 5px 10px;
}

.visits-form-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.visits-form-wrapper .sub-form {
    width: 48%;
    /* margin-top: 12px; */
}

.visits-form-wrapper .custom-select-box-wrapper select,
.zones-form-wrapper .custom-select-box-wrapper select,
.environment-form-wrapper .custom-select-box-wrapper select,
.save-tab-content select,
.left-section-wrapper .card-header button,
.predict-left-section .card-header button,
.predict-left-section .custom-select-box-wrapper select {
    width: 100%;
}

.visits-form-wrapper .sub-form form {
    padding: 12px;
    padding-bottom: 0;
}

.visits-form-wrapper .radio-wrapper,
.zones-form-wrapper .radio-wrapper {
    display: flex;
    justify-content: space-between;
}

.snapshot-tab>.btn-wrapper {
    position: absolute;
    right: 18px;
    top: 18px;
}

.snapshot-tab>.btn-wrapper>img {
    cursor: pointer;
    width: 18px;
}

.visits-form-wrapper .date {
    background: transparent;
    color: #818e94;
    border-color: #818e94;
    font-size: 9px;
    width: 48%;
    height: 24px;
}

.visits-form-wrapper .input-date-wrapper {
    height: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.visits-form-wrapper .date::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.visits-form-wrapper .date::-webkit-inner-spin-button,
.visits-form-wrapper .date::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.visits-form-wrapper .date:before {
    color: transparent;
    background: none;
    display: block;
    font-family: 'FontAwesome';
    content: '\f073';
    width: 15px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 0px;
    color: #999;
    cursor: pointer;
}

.comments-field {
    margin-top: 12px;
    color: #fff;
    border: 1px solid #818e94;
    border-radius: 4px;
}

.comments-field input {
    width: 100%;
    background: transparent;
    padding: 10px;
    border: none;
    color: #fff;
    font-size: 14px;
}

.save-tab-content .comments-field input {
    padding: 12px 10px;
}

.zones-form-wrapper,
.environment-form-wrapper {
    margin-top: 34px;
}

.zones-form-wrapper .radio-wrapper {
    justify-content: center;
}

.environment-form-wrapper button {
    margin-top: 64px;
}

.custom-table {
    color: #fff !important;
    border-top: none;
    margin-top: 12px;
}

.custom-table tbody,
.predict-delivery-section {
    border: 1px solid #818e94;
}

.custom-table thead th {
    border: none;
    padding: 6px 12px;
    font-size: 14px;
}

.table.visits-table tr td:last-child {
    width: 130px;
}

.table.custom-table tr td {
    border-color: #818e94;
    padding: 6px 16px;
    font-size: 12px;
}

.custom-table thead tr {
    border-right: 1px solid #314149;
    border-left: 1px solid #314149;
}

.custom-table tr:nth-child(even),
.custom-table thead tr,
.predict-left-section .card-header button {
    background-color: #314149;
}

#map {
    width: 100%;
    height: calc(100vh - 108px);
}

.left-section-wrapper,
.predict-left-section {
    padding: 15px 0;
    height: calc(100vh - 108px);
    overflow: auto;
    padding-right: 15px;
}

.left-section-wrapper .card,
.predict-left-section .card {
    background-color: transparent;
    border: 1px solid #818e94;
    border-radius: 0;
}

#accordion .sub-heading {
    font-size: 14px;
}

#accordion .card-body {
    padding: 12px 12px;
}

.left-section-wrapper .card-header,
.predict-left-section .card-header {
    border-bottom: 1px solid #818e94;
    padding: 0;
}

.left-section-wrapper .card-header button,
.predict-left-section .card-header button {
    padding: 6px 12px;
}

.left-section-wrapper .card-header button:after,
.predict-left-section .card-header button:after,
.map-popup-option:after {
    content: '\f067';
    font-family: FontAwesome;
    font-size: 16px;
    position: absolute;
    right: 12px;
    top: 6px;
    color: #fff;
}

.left-section-wrapper .card-header button.active:after,
.predict-left-section .card-header button.active:after,
.map-popup-option.active:after {
    content: '\f068';
    font-family: FontAwesome;
    font-size: 20px;
    position: absolute;
    right: 12px;
    top: 3px;
    color: #fff;
}

.map-popup-option:after {
    font-size: 16px;
    right: 12px;
    top: 6px;
}

.map-popup-option.active:after {
    font-size: 20px;
    right: 12px;
    top: 4px;
}

.left-section-wrapper .card-header button:hover,
.predict-left-section .card-header button:hover,
.left-section-wrapper .card-header button:focus,
.predict-left-section .card-header button:focus {
    text-decoration: none;
}

.selected-shape-wrapper>section {
    background: #314149;
    border: 1px solid #818e94;
    padding: 15px 15px 48px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.selected-shape-wrapper>section>div {
    width: 48%;
}

.selected-shape-wrapper select {
    width: 100px;
}

.picker-wrapper {
    padding: 0 4px;
    margin-left: 14px;
    cursor: pointer;
    position: relative;
    border-bottom: 5px solid #818e94;
}

.fill-drip-icon,
.picker-wrapper {
    /* border-bottom: 5px solid #818e94; */
    height: 33px;
}

.fill-drip-icon img,
.picker-wrapper img {
    width: 18px;
}

.color-picker {
    width: 130px;
    height: 150px;
    background: #fff;
    position: absolute;
    top: 52px;
    left: 0px;
    cursor: auto;
    padding: 10px;
    z-index: 51;
    border-radius: 4px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .75)!important;
    display: none;
}

.color-picker:before {
    content: '\f0d8';
    font-family: FontAwesome;
    font-size: 32px;
    position: absolute;
    left: 10px;
    top: -28px;
    color: #fff;
}

.color-picker>i {
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 4px;
}

.color-picker>i.active {
    box-shadow: 0px 0px 5px 2px darkgrey;
}

.selected-shape-wrapper .left-side-form input,
.selected-shape-wrapper .right-side-form input {
    border-radius: 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #818e94;
    font-size: 14px;
    height: 28px;
    color: #fff;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.selected-shape-wrapper .left-side-form input:focus,
.selected-shape-wrapper .right-side-form input:focus {
    border-bottom: 2px solid #fd6d21;
}

.selected-shape-wrapper .right-side-form label {
    width: 58px;
    text-align: right;
    display: initial;
}

.selected-shape-wrapper .right-side-form input {
    width: 54%;
    margin-left: 10px;
}

.selected-shape-wrapper .right-side-form .form-group {
    width: 100%;
}

.selected-shape-wrapper .total-area {
    position: absolute;
    bottom: 2px;
    right: 22px;
    font-size: 18px;
    font-weight: 600;
}

.selected-shape-top-section {
    display: flex;
    flex-wrap: wrap;
}

.selected-shape-top-section .custom-select-box-wrapper {
    margin-left: 0;
    margin-right: 0;
}

.map-popup-option,
.map-main-popup,
.statistics-on-map {
    position: absolute;
    background: #314149;
    width: 190px;
    padding: 6px 12px;
}

.map-popup-option {
    top: 15px;
    right: 15px;
    border: 1px solid #fff;
    cursor: pointer;
    width: 192px;
}

.map-main-popup {
    top: 64px;
    right: 16px;
    border: 1px solid #818e94;
    height: auto;
    max-height: calc(100vh - 240px);
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}

.map-main-popup .radio-wrapper-round,
.map-main-popup div.checkbox {
    padding: 4px 14px 0px 14px;
}

.map-main-popup form hr {
    background: #fff;
}

.map-main-popup form>div:after {
    content: '';
    width: 188px;
    height: 1px;
    background: #818e94;
    z-index: 1;
    position: absolute;
    border: 0;
    right: -13px;
    bottom: -8px;
}

.map-main-popup .title {
    margin: 18px 0 12px 0;
    font-size: 12px;
    font-weight: 600;
}

.statistics-on-map {
    bottom: 14px;
    right: 15px;
    display: none;
    background: #314149;
    border: 1px solid #fff;
    cursor: pointer;
    width: 192px;
    padding-top: 5px;
    padding-bottom: 1px;
}

.custom-controls-wrapper {
    width: 300px;
    height: 200px;
    background-color: #fff;
}

.map-custom-control {
    cursor: pointer;
    left: auto !important;
}

.camera-control {
    right: 257px !important;
    top: 22px !important;
    width: 24px;
}

.polygone-control {
    right: 290px !important;
    top: 16px !important;
    width: 30px;
}

.circle-control {
    right: 328px !important;
    top: 20px !important;
    width: 23px;
}

.rectangle-control {
    right: 364px !important;
    top: 21px !important;
    width: 35px;
}

.rectangle-title,
.circle-title,
.polygon-title {
    display: none;
}

.selected-shape-name-wrapper>p {
    font-size: 14px;
    margin-top: 6px;
    width: 72px;
}

.mouse-pointer-control {
    right: 413px !important;
    top: 21px !important;
    width: 12px;
}

.selected-shape-name-wrapper {
    width: 72px;
}

.full-zoom-in-control,
.zoom-in-control,
.zoom-out-control {
    right: 16px !important;
    transition: 0.3s;
}

.full-zoom-in-control {
    bottom: 23px !important;
    width: 34px;
}

.zoom-in-control {
    bottom: 118px !important;
    width: 34px;
}

.zoom-out-control {
    bottom: 70px !important;
    width: 34px;
}

.cross-control {
    right: 228px !important;
    width: 18px;
    top: 24px !important;
}

a[href^="http://maps.google.com/maps"] {
    display: none !important
}

a[href^="https://maps.google.com/maps"] {
    display: none !important
}

.save-tab-content .export-csv-form {
    /* margin-top: 18px; */
    height: 315px;
}

.export-btn {
    margin-top: 62px;
}


/* Radio */

.radio-wrapper-round [type="radio"]:checked,
.radio-wrapper-round [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.radio-wrapper-round [type="radio"]:checked+label,
.radio-wrapper-round [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    margin-bottom: 0;
}

.radio-wrapper-round [type="radio"]:checked+label:before,
.radio-wrapper-round [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 14px;
    height: 14px;
    border: 2px solid #ddd;
    border-radius: 100%;
}

.radio-wrapper-round [type="radio"]:checked+label:after,
.radio-wrapper-round [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 6px;
    height: 6px;
    background: #fff;
    position: absolute;
    top: 6px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.radio-wrapper-round [type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.radio-wrapper-round [type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/* End Radio */


/* Checkbox */

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox+label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-size: 12px;
    color: #fff;
}

.styled-checkbox+label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 16px;
    height: 16px;
    background: transparent;
    border: 1px solid #ddd;
}

.styled-checkbox:checked+label:after {
    content: '';
    position: absolute;
    left: 3px;
    top: 8px;
    background: #fd6d21;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #fd6d21, 4px 0 0 #fd6d21, 4px -2px 0 #fd6d21, 4px -4px 0 #fd6d21, 4px -6px 0 #fd6d21, 4px -8px 0 #fd6d21;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* End Checkbox */


/* Predict Page */

.predict-main-wrapper #predictMap {
    width: 100%;
    height: calc(100vh - 62px);
}

.predict-left-section {
    height: calc(100vh - 62px);
}

.float-form .form-group {
    margin-top: 36px;
}

.predict-delivery-section {
    padding: 20px;
    margin-top: 18px;
}

.delevry-date-result>p:first-child {
    color: #4fb741;
}

.delevry-date-result>p:nth-child(2) {
    color: #e3e606;
}

.delevry-date-result>.out-of-zone {
    color: #ef3325;
    font-size: 24px;
}

.predict-left-section .comments-field>input {
    padding: 6px 10px;
}


/* By Ravi*/

.login-section>.btn-wrapper>p>a>span {
    color: #fd6d21;
}

ul.navbar-nav>li.nav-item>a.nav-link.active {
    color: #fd6d21;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #ff6600!important;
    background-color: #ffffff!important;
}

#zones-disabled,
#predict-disabled {
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

p.comment.text-green {
    color: lime;
}

p.comment.text-yellow {
    color: yellow;
}

button.custom-btn.zoneDisabled {
    background: #8d8d8d;
    opacity: 50%;
}